.jumbotron{

  display:flex;
  justify-content: center; /*les menus sont vers la fin*/
  flex-direction: column; /* droite est la direction des menus*/
  align-items: center;
  /* Choisis la hauteur ici */
  height: 460px;

  /* Tu lui donnes une image de background */
  background-image: url("surfing1.jpg");

  /* Centre l'image et la met bien sur tous les écrans */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 25px;
}


